<h1>Date picker</h1>
<p>Selected date: {{this.selectedDate}}</p>
<fw-label value="Single date picker" color="yellow"></fw-label><br/>
<FwDatepicker @onChange={{this.onDateChange}}></FwDatepicker>
<fw-label value="A date range picker" color="yellow"></fw-label><br/>
<FwDatepicker @mode="range" @onChange={{this.onDateChange}}></FwDatepicker>
<fw-label value="Date picker with readonly attribute" color="yellow"></fw-label
><br />
<FwDatepicker @readonly={{true}} @onChange={{this.onDateChange}}></FwDatepicker>
<fw-label
  value="Date picker with show-footer and clear-input attributes"
  color="yellow"
></fw-label
><br />
<FwDatepicker @showFooter="false" @clearInput="true" @onChange={{this.onDateChange}}></FwDatepicker>
<fw-label value="Date picker with locale" color="yellow"></fw-label><br />
<FwDatepicker @locale="fr" @onChange={{this.onDateChange}}></FwDatepicker>
